<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngSwitch]="folder.toLocaleLowerCase()">
  <h1 *ngIf="folder !== 'Impostazioni'">Canali Disponibili</h1>
  <app-waste-collection *ngSwitchCase="'raccolta'"></app-waste-collection>
  <app-scales *ngSwitchCase="'pesata'"></app-scales>
  <app-biocells *ngSwitchCase="'biocelle'"></app-biocells>
</ion-content>


