<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Channel {{channelTypeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let m of msgs; let i = index;">
      <ion-item button="true" (click)="toggleShow(i)">
        <ion-avatar slot="start">
          <ion-icon name="mail-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Messaggio {{i+1}}</h2>
          <h3>{{getTime(m.timestamp)}}</h3>
        </ion-label>
        <ion-avatar slot="end">
          <ion-icon [name]="dataShowed[i] ? 'chevron-up-outline':'chevron-down-outline'" size="large"></ion-icon>
        </ion-avatar>
      </ion-item>

      <ion-card *ngIf="dataShowed[i]">
        <ion-card-content>
          <pre>{{toJson(m)}}</pre>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
