<ion-list>
  <ion-list-header>
    Canali disponibili
  </ion-list-header>
  <ion-item button="true">
    <ion-avatar slot="start">
      <ion-icon name="people-outline" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Operatore 1</h2>
      <h3>Ultimo aggiornamento 2 minuti fa</h3>
    </ion-label>
    <ion-avatar slot="end">
      <ion-icon name="caret-forward-circle" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
  <ion-item button="true">
    <ion-avatar slot="start">
      <ion-icon name="people-outline" size="large"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Operatore 2</h2>
      <h3>Ultimo aggiornamento 30 minuti fa</h3>
    </ion-label>
    <ion-avatar slot="end">
      <ion-icon name="caret-forward-circle" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>

</ion-list>
